@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap");

$rowdiesFont: "Rowdies", cursive;
$robotoFont: "Roboto Slab", serif;

h1 {
  font-family: $rowdiesFont;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 3rem;
  text-shadow: 5px 5px 0px $softPink;
  color: $crimson;
}

li {
  font-size: 1.3rem;
  list-style: none;
  font-family: $robotoFont;
  &:hover {
    background-color: lighten($teal, 50%);
  }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  &:hover {
    // color: green;
  }
}

hr {
  height: 1px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $lightGrey;
}
