@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap");

$rowdiesFont: "Rowdies", cursive;
$robotoFont: "Roboto Slab", serif;

h1 {
  font-family: $rowdiesFont;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 3rem;
  text-shadow: 5px 5px 0px $softPink;
  color: $crimson;
  margin-bottom: 40px;
}

li {
  font-size: 1.3rem;
  list-style: none;
  font-family: $robotoFont;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: lighten($teal, 50%);
  }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

hr {
  height: 1px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $lightGrey;
}
.buttons {
  display: flex;
  margin: 20px auto;

  align-items: center;

  width: 70%;
  button {
    padding: 10px;
    font-size: 1rem;
    border: 0;
    border-radius: 40px;
    width: 150px;
    margin-right: 20px;
    background: transparent;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
